<a href="https://colab.research.google.com/github/chakradhar915/Chakradhar_INFO5502_Spring2022/blob/main/lab_assignment_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## The third Lab-assignment (02/10/2022, 50 points in total)

The purpose of this exercise is to understand users' information needs, then collect data from different sources for analysis.

Question 1 (10 points). Fomulate your domain problem: Describe an interesting research question (or practical question) you have in mind, what kind of data should be collected to answer the question(s)? How many data needed for the analysis? The detail steps for collecting and save the data.

In [82]:
'''
The domain probelm is to collect the data from flipkart by using web scraping
reasearch problem is to find to analyse the data to check the discount of the mobile with respect to the cost  

Data Collection:- I have collected the data from flipkart of the mobile by using web scraping
I have collected 1000 rows of data from flipkart by using web scraping 

Setps:- 

By using Web scraping in python 
by using beautifulsoup we get the html tags from the site
we collected the data from the flipkart by using the html tags from the site
now we store in the data in csv file which further used for analysis

'''

'\nThe domain probelm is to collect the data from flipkart by using web scraping\nreasearch problem is to find to analyse the data to check the discount of the mobile with respect to the cost  \n\nData Collection:- I have collected the data from flipkart of the mobile by using web scraping\nI have collected 1000 rows of data from flipkart by using web scraping \n\nSetps:- \n\nBy using Web scraping in python \nby using beautifulsoup we get the html tags from the site\nwe collected the data from the flipkart by using the html tags from the site\nnow we store in the data in csv file which further used for analysis\n\n'

Question 2 (10 points). Collect your data to answer the research problem: Write python code to collect 1000 data samples you discussed above.

In [83]:
import requests
from bs4 import BeautifulSoup
import numpy as np
import time
import pandas as pd
import csv

mobile_name = [] 
mobile_cost = []
mobile_rating = []
discount_price = []
pg_num = []

for i in range(1,42): # go throught the 41 pages
    URL = 'https://www.flipkart.com/search?q=mobiles&as=on&as-show=on&otracker=AS_Query_HistoryAutoSuggest_1_3_na_na_na&otracker1=AS_Query_HistoryAutoSuggest_1_3_na_na_na&as-pos=1&as-type=HISTORY&suggestionId=mobiles&requestId=3d480baf-ddf4-4e4b-9822-cc322d19f8ef&as-backfill=on&page={}'.format(i)
    page = requests.get(URL)
    pagecontent = page.text
    soup = BeautifulSoup(pagecontent)
    #by using html tag we collect the data
    for x in soup.find_all('div', attrs={'class':'_3pLy-c row'}): # get 24 product properties in each page
        mobi_name = x.find('div', attrs = {'class':'_4rR01T'})
        mobi_cost = x.find('div', attrs = {'class':'_30jeq3 _1_WHN1'})
        mobi_rating = x.find('div', attrs = {'class':'_3LWZlK'})
        disc_price = x.find('div', attrs = {'class':'_3Ay6Sb'})
        
        #checing if none value we append Nan else the text
        if mobi_name is None:
            mobile_name.append(np.NaN)
        else:
            mobile_name.append(mobi_name.text)
            
        if mobi_cost is None:
            mobile_cost.append(np.NaN)
        else:
            mobile_cost.append(mobi_cost.text[1:])
            
        if mobi_rating is None:
            mobile_rating.append(np.NaN)
        else:
            mobile_rating.append(mobi_rating.text)
        if disc_price is None:
            discount_price.append(np.NaN)
        else:
            discount_price.append(disc_price.text)
        
        
        pg_num.append(i)
        
    print("Page",i,"data collected")
    
mobile_df = pd.DataFrame({'ProductName':mobile_name, 'Discount on mobile':discount_price,'Offer Price':mobile_cost, 'Rating': mobile_rating, 'PageNo': pg_num})
mobile_df.to_csv('mobile.csv')

mobile_df

Page 1 data collected
Page 2 data collected
Page 3 data collected
Page 4 data collected
Page 5 data collected
Page 6 data collected
Page 7 data collected
Page 8 data collected
Page 9 data collected
Page 10 data collected
Page 11 data collected
Page 12 data collected
Page 13 data collected
Page 14 data collected
Page 15 data collected
Page 16 data collected
Page 17 data collected
Page 18 data collected
Page 19 data collected
Page 20 data collected
Page 21 data collected
Page 22 data collected
Page 23 data collected
Page 24 data collected
Page 25 data collected
Page 26 data collected
Page 27 data collected
Page 28 data collected
Page 29 data collected
Page 30 data collected
Page 31 data collected
Page 32 data collected
Page 33 data collected
Page 34 data collected
Page 35 data collected
Page 36 data collected
Page 37 data collected
Page 38 data collected
Page 39 data collected
Page 40 data collected
Page 41 data collected

,ProductName,Discount on mobile,Offer Price,Rating,PageNo
0,"realme C31 (Dark Green, 64 GB)",16% off,"9,999",4.6,1
1,"realme C31 (Light Silver, 64 GB)",16% off,"9,999",4.6,1
2,"realme C31 (Dark Green, 32 GB)",18% off,"8,999",4.7,1
3,"REDMI 10 (Midnight Black, 64 GB)",26% off,"10,999",4.5,1
4,"REDMI 10 (Pacific Blue, 64 GB)",26% off,"10,999",4.5,1
...,...,...,...,...,...
955,"SAMSUNG Galaxy F42 5G (Matte Aqua, 128 GB)",11% off,"22,999",4.1,41
956,"Infinix Smart 4 (Ocean Wave, 32 GB)",NaN,"8,999",4.4,41
957,"REDMI Note 10 Pro (Vintage Bronze, 128 GB)",4% off,"20,480",4.3,41
958,"APPLE iPhone 12 Mini (Red, 128 GB)",14% off,"55,199",4.5,41
959,KARBONN K140 Pop,NaN,959,3.9,41

Question 3 (10 points). Understand the data quality: Search a second hand dataset (any dataset) from kaggle or other websites. Describe the data quality problem of the dataset and explain your strtegy to clean the data.

In [84]:
'''
Best strategy to clean the data is to remove duplicates
we can modify the spelling mistakes and abnormal capitalization 
we have to check for missing data and to make it as null
we can detect the outliers by using the box plot.
if we want we can keep the outlier or we can normalize the entire dataset to get the accurate values.

I have taken dataset from kaggle "https://www.kaggle.com/ashishjangra27/geeksforgeeks-articles"
In the attribute we have 'last_updated' some fields are not in date format so we have removed the rows which are not in date format
there are so many outlier so that if we want to see the values we can keep if there is no drastic change of the values , if we have drastic 
change we have to remove the outliers rows or we can normalize the entire dataset to get the accurate values.
'''

'\nBest strategy to clean the data is to remove duplicates\nwe can modify the spelling mistakes and abnormal capitalization \nwe have to check for missing data and to make it as null\nwe can detect the outliers by using the box plot.\nif we want we can keep the outlier or we can normalize the entire dataset to get the accurate values.\n\nI have taken dataset from kaggle "https://www.kaggle.com/ashishjangra27/geeksforgeeks-articles"\nIn the attribute we have \'last_updated\' some fields are not in date format so we have removed the rows which are not in date format\nthere are so many outlier so that if we want to see the values we can keep if there is no drastic change of the values , if we have drastic \nchange we have to remove the outliers rows or we can normalize the entire dataset to get the accurate values.\n'

Question 4 (20 points). Data cleaning: There are two datasets TwADR-L (from Twitter) and AskAPatient (Link: https://zenodo.org/record/55013#.YgU2NN-ZO4T) for medical concept
normalization. However, the two datasets have serious data quality problems. Please read the introduction of the datasets and clean the two datasets by following the steps in the statement.

In the original dataset, the TwADR-L had 48,057 training, 1,256 validation and 1,427 test examples. The test set (all
test samples from 10 folds combined) consists of 765 unique phrases and 273 unique classes (medical concepts). The AskAPatient dataset contained 156,652 training, 7,926 validation, and 8,662 test examples. The entire test set (all test samples
from 10 folds combined) consists of 3,749 unique phrases and 1,035 unique classes (medical concepts). The authors
randomly split each dataset into ten equal folds, ran 10-fold cross validation and reported the accuracy averaged across the
ten folds. 

We found that, in the original data set, many phrase-label pairs appeared multiple times within the same training data file
and also across the training and test data sets in the same fold. In the AskAPatient data set, on average 35.82% of the test data overlapped with training data in the same fold. In the Twitter (TwADR-L) dataset, on average 8.62% of the test set had an overlap with the training data in the same fold. Having a large overlap between the training and the test data can potentially
introduce bias in the model and contribute to high accuracy. It is not unlikely that the high model performance reported in the original paper may be triggered by the the large overlap between the training and test sets.

Therefore to remove the bias, we further cleaned and recreated the training, validation, and test sets such that each
phrase-label pair appears only once in the entire dataset (either in training, validation or test set).

(1) First, we combined all examples in training, validation and test data from the original data set and then removed all
duplicate phrase-label pairs (examples that have the same phrase and label pair and appear more than once in training/validation/test datasets). Table II shows the statistics of the new dataset (after removing duplicates). The Twitter data set had 3,157 unique phrase-label pairs and 2,220 unique labels (medical concepts) while 173 phrases had multiple labels (i.e., they were assigned to more than one label). Many concepts had only one example, and the concept that had the most number
of examples had 36 phrases. On average, each concept had 1.42 examples. The AskAPatient data set had 4,496 unique phrase-label pairs, 1,036 unique labels while 26 phrases had multiple labels. Table III shows examples of phrases that had multiple labels. For example, ‘mad’ can be mapped to ‘anger’ or ‘rage’ and ‘sore’ can be mapped to ‘pain’ or ‘myalgia’.

(2) Second, we remove all concepts that had less than five examples. The statistics of the final data are shown in Table IV.

(3) Third, we divide all examples without multiple labels into random 10 folds such that each unique phrase-label pair
appears once in one of the 10 test sets. We add the pairs with multiple labels into the training data. This final 10-folds
dataset is used in all our experiments.

(The original paper can be download on canvas)

In [85]:
import glob
import requests
import numpy as np
import time
import pandas as pd
import csv

In [86]:
!unzip /content/sample_data/datasets.zip

Archive:  /content/sample_data/datasets.zip
replace datasets/.DS_Store? [y]es, [n]o, [A]ll, [N]one, [r]ename: A
  inflating: datasets/.DS_Store
  inflating: __MACOSX/datasets/._.DS_Store
  inflating: datasets/AskAPatient/AskAPatient.fold-0.test.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-0.test.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-0.train.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-0.train.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-0.validation.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-0.validation.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-1.test.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-1.test.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-1.train.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-1.train.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-1.validation.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-1.validation.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-2.test.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-2.test.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-2.train.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-2.train.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-2.validation.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-2.validation.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-3.test.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-3.test.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-3.train.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-3.train.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-3.validation.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-3.validation.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-4.test.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-4.test.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-4.train.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-4.train.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-4.validation.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-4.validation.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-5.test.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-5.test.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-5.train.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-5.train.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-5.validation.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-5.validation.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-6.test.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-6.test.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-6.train.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-6.train.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-6.validation.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-6.validation.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-7.test.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-7.test.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-7.train.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-7.train.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-7.validation.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-7.validation.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-8.test.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-8.test.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-8.train.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-8.train.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-8.validation.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-8.validation.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-9.test.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-9.test.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-9.train.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-9.train.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-9.validation.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-9.validation.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-0.test.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-0.test.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-0.train.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-0.train.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-0.validation.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-0.validation.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-1.test.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-1.test.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-1.train.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-1.train.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-1.validation.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-1.validation.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-2.test.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-2.test.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-2.train.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-2.train.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-2.validation.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-2.validation.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-3.test.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-3.test.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-3.train.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-3.train.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-3.validation.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-3.validation.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-4.test.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-4.test.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-4.train.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-4.train.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-4.validation.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-4.validation.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-5.test.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-5.test.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-5.train.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-5.train.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-5.validation.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-5.validation.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-6.test.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-6.test.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-6.train.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-6.train.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-6.validation.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-6.validation.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-7.test.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-7.test.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-7.train.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-7.train.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-7.validation.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-7.validation.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-8.test.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-8.test.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-8.train.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-8.train.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-8.validation.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-8.validation.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-9.test.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-9.test.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-9.train.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-9.train.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-9.validation.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-9.validation.txt

In [90]:
#We combined all examples in training, validation and test data from the original data set.
#create an empty data frame 
result_dataframe=  pd.DataFrame()
#function for the lower the case of all the data
def caseLower(df):
    for columns in data_frame.columns:
        data_frame[columns] = data_frame[columns].str.lower()
    return(df)
#function for dopping the all the dublicate values
def dropDublicates(df):
    df = df.drop_duplicates('phrase-label')
    return(df)
  #finction for printing the result
def printResult(result):
    result = result.T
    result.columns = ['TwADR-L', 'AskAPatient']
    print(result)
#Loop for iterating the two different datasets
for dataset in ['TwADR-L', 'AskAPatient']:
    newset = {}#empty dataset
    data_frame = pd.DataFrame()#creating the data frame
    for filepath in glob.glob('/content/datasets/{}/*.txt'.format(dataset)):#we are iterating to get the path of two datasets
        data = pd.read_csv(filepath, sep = "\t", header = None, encoding= 'unicode_escape')#reading the CSV file 
        data_frame = data_frame.append(data)#commbining the all the data in one dataset
        
    data_frame = data_frame.reset_index(drop=True)
    data_frame['phrase_label'] = data_frame[1] + "-" + data_frame[2]
    data_frame.columns = ['id', 'label_name', 'phrases_name', 'phrase-label']#defining the columns 
    data_frame = data_frame.astype({"id": str})#changing the ID variable to string

    data_frame = caseLower(data_frame)#function call for the lower the case
    data_frame = dropDublicates(data_frame)#function call for the dropping the dublicates
    
    #we are assigning the values to form a table
    newset['Unique_phrases'] = str(len(data_frame['phrases_name'].unique()))
    newset['Unique_labels'] = str(len(data_frame['label_name'].unique()))
    newset['Unique_phrase_label_pairs'] = str(data_frame.shape[0])
    data_frame1 = pd.DataFrame(data_frame['phrases_name'].value_counts())
    newset['Phrases with multiple labels'] = str(data_frame1[data_frame1['phrases_name'] > 1].shape[0])
    newset['Min examples per label'] = str(data_frame['label_name'].value_counts().values.min())
    newset['Max examples per label'] = str(data_frame['label_name'].value_counts().values.max())
    newset['Avg examples per label'] = round(data_frame['label_name'].value_counts().mean(),2)
    result_dataframe = result_dataframe.append(newset, ignore_index=True)
printResult(result_dataframe)#function call to print the result

                             TwADR-L AskAPatient
Unique_phrases                  2944        4470
Unique_labels                   2220        1038
Unique_phrase_label_pairs       3157        4507
Phrases with multiple labels     173          35
Min examples per label             1           1
Max examples per label            36         141
Avg examples per label          1.42        4.34

In [91]:
newset_dataframe = pd.DataFrame()
#function defination to store the data which has less than 5 examples
def storeDataWhichIsLessThan5(df):
    index_list = []
    for i in range(df.shape[0]):
        if df['label_name'].value_counts()[df.iloc[i]['label_name']] < 5:
            index_list.append(i)
    dropDataWhichIsLessThan5(index_list,df)#function call to drop the data which is stored
#function defination for to drop the data which has less than 5 examples
def dropDataWhichIsLessThan5(df,df1):
    # we are removing the data lable which are less than 5
    df1.drop(df1.index[df], inplace=True)
# we iterate through both datasets 
for dataset in ['TwADR-L', 'AskAPatient']:
    data_frame = pd.DataFrame()
    for filepath in glob.glob('/content/datasets/{}/*.txt'.format(dataset)):#we are iterating to get the path of two datasets
        data = pd.read_csv(filepath, sep = "\t", header = None, encoding= 'unicode_escape')#reading the CSV file 
        data_frame = data_frame.append(data)#commbining the all the data in one dataset


    # we combine by the two data set text files
    data_frame = data_frame.reset_index(drop=True)
    data_frame['phrase_label'] = data_frame[1] + "-" + data_frame[2]
    data_frame.columns = ['id', 'label_name', 'phrases_name', 'phrase-label']#defining the columns 
    data_frame = data_frame.astype({"id": str})#changing the ID variable to string
    data_frame = caseLower(data_frame)#function call for the lower the case

    # we are removing the duplicates
    data_frame = dropDublicates(data_frame)#changing the ID variable to string
    storeDataWhichIsLessThan5(data_frame)#calling function to store data

    
    newset = {}
    # storing newsets of the table in dictionary
    newset['Unique_phrases'] = str(len(data_frame['phrases_name'].unique()))
    newset['Unique_labels'] = str(len(data_frame['label_name'].unique()))
    newset['Unique_phrase_label_pairs'] = str(data_frame.shape[0])
    data_frame1 = pd.DataFrame(data_frame['phrases_name'].value_counts())
    newset['Phrases with multiple labels'] = str(data_frame1[data_frame1['phrases_name'] > 1].shape[0])
    newset['Min examples per label'] = str(data_frame['label_name'].value_counts().values.min())
    newset['Max examples per label'] = str(data_frame['label_name'].value_counts().values.max())
    newset['Avg examples per label'] = round(data_frame['label_name'].value_counts().mean(), 2)
    # appending dictinary to dataframe
    newset_dataframe = newset_dataframe.append(newset, ignore_index=True)
printResult(newset_dataframe)#function call to print the result

                             TwADR-L AskAPatient
Unique_phrases                   616        2665
Unique_labels                     76         233
Unique_phrase_label_pairs        721        2686
Phrases with multiple labels      87          19
Min examples per label             5           5
Max examples per label            36         141
Avg examples per label          9.49       11.53

In [89]:
from sklearn.model_selection import KFold
X = np.array(data_frame)
print('\nconfirm results with scikit-learn')
k_fold = KFold(n_splits = 10, shuffle = True, random_state = 10)
for train_index, test_index in k_fold.split(X):
    print("TRAIN:", train_index, "TEST:", test_index)
    X_train, X_test = X[train_index], X[test_index]
print(X_train,X_test)

confirm results with scikit-learn
TRAIN: [   0    1    2 ... 2683 2684 2685] TEST: [  16   18   20   27   28   29   56   66   90  110  130  134  145  148
  174  176  181  182  196  212  216  219  230  234  235  241  245  248
  263  264  275  295  298  311  326  329  339  365  372  375  382  404
  426  427  469  471  484  528  545  579  581  589  599  603  604  609
  614  629  642  648  684  685  695  703  709  720  725  729  737  742
  756  766  806  807  813  815  822  823  835  837  839  840  855  869
  871  880  886  887  892  897  898  915  929  942  950  952  957  961
  969  970  982  992 1002 1018 1025 1051 1055 1058 1059 1091 1092 1094
 1104 1118 1122 1149 1167 1172 1175 1189 1194 1198 1206 1213 1215 1227
 1235 1256 1263 1268 1272 1283 1284 1303 1320 1333 1338 1349 1361 1376
 1377 1385 1392 1400 1407 1425 1431 1432 1434 1437 1499 1531 1534 1538
 1542 1553 1559 1566 1572 1600 1625 1631 1656 1657 1688 1705 1709 1723
 1724 1734 1754 1756 1770 1781 1787 1788 1794 1795 1800 1807 1831 1843
 1846 1852 1870 1907 1914 1924 1932 1935 1962 1973 1985 1987 1994 2010
 2014 2035 2047 2050 2085 2090 2107 2108 2118 2134 2140 2143 2144 2159
 2174 2175 2180 2192 2215 2219 2234 2239 2241 2247 2248 2257 2265 2271
 2281 2295 2302 2308 2309 2311 2320 2324 2330 2333 2342 2343 2351 2357
 2366 2386 2404 2406 2438 2439 2444 2446 2460 2467 2477 2497 2498 2505
 2515 2518 2529 2546 2552 2554 2568 2569 2585 2597 2599 2608 2618 2640
 2658 2662 2672]
TRAIN: [   0    2    3 ... 2683 2684 2685] TEST: [   1   11   25   39   42   43   47   48   54   64   68   72   79   87
   96   97  104  115  152  168  173  183  191  195  202  210  213  222
  256  258  262  277  278  282  299  305  317  330  331  332  351  352
  359  361  370  423  437  454  464  470  492  507  510  539  543  563
  565  582  588  593  625  628  650  663  675  689  691  692  701  708
  719  724  739  755  775  778  788  798  801  814  841  854  879  893
  895  920  928  962  964  973 1014 1017 1028 1029 1035 1041 1042 1046
 1049 1060 1093 1112 1126 1141 1142 1152 1162 1163 1182 1200 1249 1257
 1264 1290 1292 1295 1297 1305 1309 1324 1330 1331 1337 1343 1350 1353
 1356 1364 1378 1394 1411 1413 1417 1429 1436 1442 1444 1450 1456 1457
 1462 1469 1489 1501 1506 1510 1518 1556 1557 1564 1568 1583 1586 1594
 1616 1624 1632 1683 1696 1704 1706 1708 1719 1727 1740 1741 1742 1747
 1757 1769 1771 1783 1786 1789 1790 1797 1801 1810 1821 1845 1862 1867
 1874 1878 1879 1882 1886 1902 1910 1921 1923 1928 1930 1931 1938 1946
 1947 1954 1963 1979 1999 2025 2027 2032 2045 2051 2055 2058 2070 2081
 2087 2089 2091 2099 2105 2109 2131 2132 2133 2137 2139 2154 2162 2188
 2191 2193 2201 2218 2223 2228 2229 2236 2251 2276 2287 2318 2325 2332
 2334 2362 2364 2377 2389 2408 2426 2434 2441 2448 2456 2462 2465 2494
 2500 2507 2511 2532 2542 2549 2586 2593 2595 2602 2615 2619 2628 2663
 2669 2670 2677]
TRAIN: [   0    1    2 ... 2682 2683 2684] TEST: [   4    5    8   12   17   19   24   32   36   65   69   74   94  108
  120  133  146  153  158  163  177  184  188  194  199  203  211  220
  228  243  252  270  281  287  291  296  306  315  318  342  343  344
  345  348  349  362  363  364  366  371  384  406  450  452  463  475
  476  481  485  493  500  505  520  530  544  553  555  556  567  573
  592  608  612  616  637  638  640  705  707  717  721  728  731  760
  762  764  773  774  781  792  794  795  799  803  804  810  819  828
  831  832  845  850  857  860  863  876  881  891  922  934  947  980
  981  984  988 1003 1009 1024 1033 1036 1048 1061 1065 1079 1080 1084
 1088 1090 1111 1114 1115 1123 1136 1137 1139 1143 1151 1156 1158 1161
 1166 1177 1179 1196 1199 1214 1216 1231 1241 1242 1243 1248 1281 1298
 1302 1323 1339 1348 1358 1369 1370 1393 1398 1399 1404 1422 1440 1525
 1532 1546 1558 1563 1570 1597 1602 1605 1611 1619 1622 1628 1636 1642
 1644 1699 1712 1717 1722 1725 1731 1739 1748 1749 1752 1779 1806 1820
 1829 1839 1841 1856 1859 1877 1905 1916 1918 1920 1941 1945 1961 1971
 1976 1998 2017 2037 2068 2079 2097 2098 2101 2128 2150 2163 2173 2194
 2207 2208 2211 2214 2246 2272 2278 2291 2297 2317 2337 2382 2384 2387
 2390 2391 2398 2405 2421 2429 2457 2459 2471 2479 2480 2491 2501 2508
 2553 2559 2560 2564 2576 2578 2581 2588 2590 2613 2614 2634 2641 2649
 2650 2654 2685]
TRAIN: [   0    1    2 ... 2683 2684 2685] TEST: [  10   31   35   37   60   67   73   81   84   85   95  101  107  123
  142  143  147  165  186  217  231  233  255  260  261  274  279  304
  307  312  334  335  353  369  373  379  381  394  417  428  449  495
  517  518  519  524  537  557  562  566  576  577  601  607  613  621
  632  643  661  666  669  679  681  696  697  698  738  744  750  758
  761  772  783  808  818  820  824  827  829  838  842  846  847  853
  856  861  862  874  883  890  899  912  913  916  924  930  945  948
  953  955  966  986  990  998 1000 1005 1010 1026 1050 1053 1057 1068
 1076 1082 1085 1098 1099 1101 1109 1110 1132 1144 1145 1148 1150 1153
 1174 1178 1186 1191 1217 1226 1236 1274 1276 1288 1296 1328 1347 1352
 1360 1363 1379 1396 1416 1418 1426 1427 1445 1452 1464 1467 1472 1476
 1486 1493 1523 1540 1554 1565 1576 1581 1589 1591 1620 1629 1630 1661
 1668 1673 1690 1711 1715 1743 1746 1750 1761 1776 1784 1791 1792 1799
 1815 1830 1835 1837 1844 1853 1854 1861 1876 1885 1901 1904 1906 1934
 1940 1943 1948 1975 1980 1983 1991 2029 2040 2060 2075 2093 2095 2104
 2127 2149 2151 2152 2160 2166 2179 2212 2221 2222 2225 2227 2242 2264
 2275 2293 2298 2300 2301 2305 2313 2315 2336 2352 2358 2368 2371 2375
 2392 2393 2396 2413 2415 2420 2424 2427 2430 2453 2478 2487 2514 2516
 2519 2522 2523 2524 2525 2530 2533 2562 2572 2574 2589 2594 2610 2617
 2622 2625 2667]
TRAIN: [   0    1    2 ... 2683 2684 2685] TEST: [   6    7   21   34   38   71  102  106  109  112  124  125  126  131
  161  171  178  204  205  218  221  225  226  242  244  267  273  280
  301  328  336  337  367  383  385  392  396  398  403  414  415  418
  429  431  435  440  456  458  460  491  494  502  512  513  529  533
  550  558  564  594  596  598  617  618  619  660  662  670  678  704
  715  730  732  734  735  741  743  746  754  767  769  776  779  784
  787  811  821  833  864  867  872  896  904  906  907  909  926  941
  949  963  983  996  997 1001 1031 1040 1062 1102 1133 1155 1157 1160
 1181 1192 1195 1209 1212 1232 1244 1247 1253 1254 1265 1269 1277 1278
 1301 1307 1315 1318 1342 1357 1365 1382 1408 1420 1423 1428 1430 1438
 1441 1443 1449 1470 1474 1485 1487 1500 1511 1515 1521 1541 1569 1582
 1588 1599 1617 1638 1643 1645 1650 1659 1675 1679 1684 1686 1707 1710
 1753 1758 1762 1763 1768 1798 1804 1817 1827 1848 1850 1863 1873 1881
 1887 1894 1899 1917 1925 1942 1965 1969 1970 1977 1981 1986 1990 1995
 2005 2018 2019 2022 2024 2039 2059 2078 2084 2116 2117 2120 2125 2141
 2142 2145 2156 2164 2170 2171 2181 2186 2190 2199 2203 2209 2220 2244
 2253 2263 2277 2283 2296 2321 2331 2335 2349 2363 2373 2374 2409 2417
 2418 2428 2445 2449 2450 2474 2490 2496 2521 2558 2566 2579 2584 2598
 2611 2621 2624 2626 2629 2631 2632 2637 2644 2647 2653 2659 2664 2665
 2668 2674 2680]
TRAIN: [   0    1    2 ... 2682 2684 2685] TEST: [   9   23   33   45   51   75   78  114  118  121  137  139  170  175
  179  180  190  214  223  237  247  266  271  303  308  319  321  323
  325  338  354  378  387  411  413  421  424  445  447  467  473  474
  483  486  489  490  499  501  511  531  571  580  591  605  606  611
  615  624  631  633  634  636  654  657  658  665  667  668  693  700
  711  718  752  753  786  791  797  800  805  809  816  817  836  844
  865  866  870  882  900  932  935  936  937  939  946  951  968  991
  995 1004 1011 1019 1021 1022 1056 1063 1067 1070 1077 1081 1117 1146
 1173 1183 1185 1203 1205 1218 1238 1246 1251 1252 1260 1285 1308 1313
 1314 1322 1395 1448 1451 1468 1484 1494 1496 1497 1504 1507 1533 1548
 1549 1561 1567 1573 1579 1592 1595 1601 1608 1610 1637 1640 1641 1646
 1653 1654 1665 1667 1670 1671 1678 1685 1693 1695 1703 1726 1728 1736
 1737 1745 1755 1760 1764 1766 1767 1772 1778 1796 1808 1809 1814 1819
 1822 1824 1825 1838 1858 1865 1866 1869 1872 1913 1915 1927 1939 1951
 1959 1982 2001 2004 2006 2011 2030 2043 2046 2049 2054 2061 2064 2071
 2074 2088 2092 2094 2100 2112 2115 2121 2122 2123 2135 2157 2172 2183
 2189 2205 2232 2245 2252 2266 2282 2285 2286 2290 2299 2316 2340 2359
 2370 2422 2431 2437 2440 2447 2466 2489 2492 2493 2513 2517 2543 2544
 2547 2551 2555 2582 2600 2601 2604 2633 2639 2642 2646 2648 2671 2675
 2678 2681 2683]
TRAIN: [   0    1    2 ... 2683 2684 2685] TEST: [   3   22   30   41   52   76   80   82   83  122  136  151  157  159
  164  169  172  197  224  229  238  240  276  290  294  300  313  322
  324  333  341  358  374  397  416  419  420  425  433  438  439  441
  442  461  479  482  496  497  498  514  516  521  525  532  536  538
  542  546  548  549  559  561  572  590  641  647  649  672  688  699
  706  722  723  749  751  763  768  789  793  802  843  858  859  894
  919  940  944  954  960  965  972  976  977  994  999 1007 1012 1016
 1030 1038 1039 1044 1054 1064 1074 1075 1108 1116 1124 1128 1129 1130
 1131 1164 1165 1176 1197 1201 1202 1208 1220 1223 1234 1250 1259 1273
 1286 1304 1311 1319 1321 1329 1346 1355 1359 1371 1380 1402 1405 1421
 1435 1455 1461 1466 1471 1488 1491 1503 1509 1517 1519 1528 1535 1544
 1551 1560 1574 1578 1585 1593 1609 1626 1627 1649 1652 1664 1669 1674
 1682 1697 1702 1733 1775 1777 1803 1805 1812 1813 1816 1832 1836 1883
 1884 1890 1891 1893 1896 1903 1909 1911 1936 1937 1956 1972 1978 1989
 1996 2002 2012 2026 2072 2077 2082 2083 2096 2111 2124 2136 2148 2153
 2158 2161 2168 2169 2178 2198 2200 2224 2235 2237 2243 2250 2255 2256
 2259 2261 2274 2279 2288 2292 2303 2312 2326 2341 2344 2346 2350 2365
 2385 2414 2423 2432 2451 2455 2458 2472 2481 2488 2499 2503 2509 2510
 2536 2540 2541 2545 2556 2561 2570 2573 2575 2577 2587 2609 2612 2616
 2623 2627]
TRAIN: [   0    1    2 ... 2683 2684 2685] TEST: [  49   53   57   88   92   99  100  116  119  132  135  138  140  141
  149  155  156  167  185  192  193  198  206  215  236  246  249  250
  253  254  257  259  284  285  292  293  302  357  386  393  399  408
  410  430  434  443  444  448  457  477  487  504  508  526  535  547
  554  568  569  578  584  585  597  602  622  635  646  652  664  682
  683  687  702  712  716  726  736  745  748  757  759  770  782  812
  825  868  873  878  884  903  905  908  910  911  931  933  958  971
  978  979  987  989 1008 1013 1015 1034 1045 1066 1069 1078 1083 1086
 1087 1100 1119 1138 1140 1171 1184 1187 1193 1207 1211 1219 1221 1245
 1255 1261 1262 1266 1275 1282 1300 1316 1317 1326 1332 1335 1345 1351
 1373 1401 1409 1410 1439 1447 1453 1465 1475 1477 1508 1516 1529 1537
 1555 1571 1590 1598 1604 1606 1614 1623 1639 1647 1655 1658 1663 1666
 1676 1680 1689 1700 1716 1718 1729 1730 1738 1744 1759 1782 1811 1833
 1840 1847 1855 1857 1860 1871 1875 1888 1892 1933 1944 1950 1955 1964
 1967 1993 2003 2015 2016 2021 2023 2034 2038 2056 2057 2062 2067 2076
 2113 2126 2130 2147 2165 2177 2195 2210 2231 2238 2249 2260 2268 2270
 2273 2284 2310 2354 2355 2360 2369 2380 2381 2388 2395 2397 2399 2400
 2401 2403 2411 2416 2425 2435 2463 2464 2468 2475 2476 2482 2483 2484
 2502 2506 2527 2539 2548 2563 2580 2596 2636 2638 2643 2645 2652 2655
 2673 2679]
TRAIN: [   1    2    3 ... 2681 2683 2685] TEST: [   0   14   15   26   50   59   61   70   86   91   98  105  111  113
  128  129  154  160  162  166  200  227  265  272  289  309  316  320
  327  377  388  389  390  400  402  405  407  422  451  462  465  466
  468  472  478  488  503  509  522  523  540  560  570  583  586  587
  600  610  620  623  626  639  651  659  673  676  677  686  694  713
  714  727  740  765  771  790  826  834  848  849  852  885  888  901
  943  956  967  975  993 1023 1027 1047 1052 1071 1073 1089 1096 1105
 1107 1113 1120 1121 1125 1134 1135 1154 1168 1170 1188 1190 1229 1233
 1239 1267 1293 1306 1310 1325 1327 1334 1336 1341 1354 1367 1368 1375
 1386 1389 1391 1403 1414 1415 1424 1433 1446 1459 1460 1463 1473 1479
 1480 1481 1482 1483 1490 1498 1502 1505 1512 1513 1524 1543 1550 1562
 1577 1584 1596 1603 1612 1618 1633 1634 1635 1662 1672 1677 1687 1691
 1694 1698 1701 1720 1721 1751 1774 1785 1793 1802 1818 1823 1826 1849
 1864 1868 1889 1895 1898 1908 1912 1919 1922 1957 1966 1968 1974 1988
 1992 1997 2000 2007 2028 2036 2041 2069 2073 2086 2103 2106 2114 2129
 2146 2155 2167 2184 2187 2196 2197 2202 2204 2217 2226 2230 2240 2258
 2262 2289 2307 2314 2319 2322 2323 2327 2328 2345 2347 2348 2353 2356
 2383 2394 2402 2407 2433 2436 2461 2469 2473 2485 2495 2504 2528 2531
 2534 2535 2557 2565 2567 2592 2603 2607 2620 2635 2651 2657 2661 2676
 2682 2684]
TRAIN: [   0    1    3 ... 2683 2684 2685] TEST: [   2   13   40   44   46   55   58   62   63   77   89   93  103  117
  127  144  150  187  189  201  207  208  209  232  239  251  268  269
  283  286  288  297  310  314  340  346  347  350  355  356  360  368
  376  380  391  395  401  409  412  432  436  446  453  455  459  480
  506  515  527  534  541  551  552  574  575  595  627  630  644  645
  653  655  656  671  674  680  690  710  733  747  777  780  785  796
  830  851  875  877  889  902  914  917  918  921  923  925  927  938
  959  974  985 1006 1020 1032 1037 1043 1072 1095 1097 1103 1106 1127
 1147 1159 1169 1180 1204 1210 1222 1224 1225 1228 1230 1237 1240 1258
 1270 1271 1279 1280 1287 1289 1291 1294 1299 1312 1340 1344 1362 1366
 1372 1374 1381 1383 1384 1387 1388 1390 1397 1406 1412 1419 1454 1458
 1478 1492 1495 1514 1520 1522 1526 1527 1530 1536 1539 1545 1547 1552
 1575 1580 1587 1607 1613 1615 1621 1648 1651 1660 1681 1692 1713 1714
 1732 1735 1765 1773 1780 1828 1834 1842 1851 1880 1897 1900 1926 1929
 1949 1952 1953 1958 1960 1984 2008 2009 2013 2020 2031 2033 2042 2044
 2048 2052 2053 2063 2065 2066 2080 2102 2110 2119 2138 2176 2182 2185
 2206 2213 2216 2233 2254 2267 2269 2280 2294 2304 2306 2329 2338 2339
 2361 2367 2372 2376 2378 2379 2410 2412 2419 2442 2443 2452 2454 2470
 2486 2512 2520 2526 2537 2538 2550 2571 2583 2591 2605 2606 2630 2656
 2660 2666]
[['235856003' 'liver disease' 'liver disease'
  'liver disease-liver disease']
 ['166717003' 'serum creatinine raised' 'serum creatinine raised'
  'serum creatinine raised-serum creatinine raised']
 ['82991003' 'generalised aches and pains' 'generalised aches and pains'
  'generalised aches and pains-generalised aches and pains']
 ...
 ['418290006' 'itching' 'intolerable itching'
  'itching-intolerable itching']
 ['30989003' 'knee pain' 'major sorness in knees'
  'knee pain-major sorness in knees']
 ['95891005' 'influenza-like illness'
  ' fluey feelings in upper arms, legs'
  'influenza-like illness- fluey feelings in upper arms, legs']] [['3877011000036101' 'lipitor' 'lipitor' 'lipitor-lipitor']
 ['76948002' 'severe pain' 'severe pain' 'severe pain-severe pain']
 ['449918009' 'cramp in lower leg' 'cramp in lower leg'
  'cramp in lower leg-cramp in lower leg']
 ...
 ['309087008' 'paraesthesia of foot' 'loss of feeling in toes'
  'paraesthesia of foot-loss of feeling in toes']
 ['76948002' 'severe pain' 'severe pain in my thighs'
  'severe pain-severe pain in my thighs']
 ['57676002' 'arthralgia' 'chronic bone/joint pain'
  'arthralgia-chronic bone/joint pain']]